/* text */

.web-text {
    font-size: 8rem;
}

.project-text {
    margin-top: 7rem;
}

/* images */

.hero-image {
    background-image: url('../images/hero-image1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}

.hero-image2 {
    background-image: url('../images/hero-image2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}


/* previous projects */

.project-margin1 {
    margin-right: 20rem;
}

.project-margin2 {
    margin-left: 20rem;
}



.left {
    float:left;
    margin: 20px 20px 20px 0;
}

.right {
    float:right;
    margin: 20px 0 20px 20px;
}

.slide-left, .slide-right {
    opacity: 0;
    transition: all .5s;
}

.slide-left {
    transform: translate(-30%) scale(0.90);
}

.slide-right {
    transform: translate(30%) scale(0.90);
}

.active {
    transform: translate(0%) scale(1);
    opacity: 1;
}