/* text */

.web-text {
    font-size: 8rem;
}




/* images */

.hero-image {
    background-image: url('../images/hero-image1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}

.hero-image2 {
    background-image: url('../images/hero-image2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}
