@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* text */

.name {
    font-family: "Bebas Neue", static;
  }

.descrip-text {
    font-family: "Kanit";
}

.web-text {
    font-size: 8rem;
}

.project-text {
    margin-top: 7rem;
}

.liam-text {
    font-size: 3rem;
}

.nav-t {
    font-size: 1rem;
}

/* images */

.hero-image {
    background-image: url('../images/hero-image1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}

.hero-image2 {
    background-image: url('../images/hero-image2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}


/* previous projects */

.project-margin1 {
    margin-right: 20rem;
}

.project-margin2 {
    margin-left: 20rem;
}

/* padding */

.email-pad {
    padding-top: 18rem;
}

.hero-2-pad {
    padding-top: 1rem;
}

/* media queries */

@media (min-width: 300px) and (max-width: 575px) {
    .image-pad {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (min-width: 300px) and (max-width: 575px) {
    .hero-2-pad {
        padding-top: 0.3rem;
        padding-bottom: 0rem;
    }
}